[submodule ".agents/effect-yjs"]
	path = .agents/effect-yjs
	url = https://github.com/hzmmohamed/effect-yjs
[submodule ".agents/effect-atom"]
	path = .agents/effect-atom
	url = https://github.com/tim-smart/effect-atom
