[submodule ".agents/effect-yjs"]
	path = .agents/effect-yjs
	url = https://github.com/hzmmohamed/effect-yjs
[submodule ".agents/effect-atom"]
	path = .agents/effect-atom
	url = https://github.com/tim-smart/effect-atom
[submodule ".agents/effect-machine"]
	path = .agents/effect-machine
	url = https://github.com/cevr/effect-machine
[submodule ".agents/lalph"]
	path = .agents/lalph
	url = https://github.com/tim-smart/lalph
[submodule ".agents/effect-smol"]
	path = .agents/effect-smol
	url = git@github.com:Effect-TS/effect-smol.git
